<h1>Modifier la piscine</h1>

<%= render "form", pool: @pool %>

<br>

<div>
<%= link_to "Retour aux piscines", @pool, class: "btn btn-primary" %> |
  <%= link_to "Retour à l'accueil", root_path, class: "btn btn-primary" %>
</div>
