<h1>Modifier la piscine</h1>

<%= render "form", pool: @pool %>

<br>

<div>
<%= link_to "Back to pools", @pool, class: "btn btn-flat" %> |
  <%= link_to "Back to home", root_path, class: "btn btn-flat" %>
</div>
