<h1>Liste des piscines</h1>

<ul>
  <% @pools.each do |pool| %>
    <li>
      <strong>Adresse :</strong> <%= pool.address %><br>
      <strong>Prix :</strong> <%= pool.price %> €<br>


      <%= link_to "Voir les détails", pool_path(pool), class: "btn btn-primary" %>
    </li>
  <% end %>
</ul>

<%= link_to "Créer une nouvelle piscine", new_pool_path, class: "btn btn-primary" %>
