// Specific CSS for your home-page

.banner-image {
  background-image: url('https://images.unsplash.com/photo-1535731561029-5bb23d96911c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
}

.banner-text {
  background-color: rgba(77, 77, 77, 0.555);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

.welcome-container {
  background-image: url('https://images.unsplash.com/photo-1498747946579-bde604cb8f44?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 92.85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
  overflow: clip;
}

.welcome-text-container {
  background-color: rgba(77, 77, 77, 0.555);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-size: 24px;
}

.welcome-text {
  margin-bottom: 0px;
}

.card-home {
  height: 500px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
  background-color: white;
}

.card-title-home-pools {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.card-text-home-pools {
  font-size: 16px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.btn-home {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
}

.btn-flat:hover {
  background-color: #0056b3;
  color: white;
}

.card-home-pools {
  padding: 0px;
}

.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

img {
  object-fit: cover;
}

.row-home-pools-title {
  margin: 20px;
}

.your-pools-header {
  font-weight: bold;
}

.your-reservations {
  margin-left: 20px;
  margin-right: 20px;
}

.card {
  margin-left: 10px;
  margin-right: 10px;
}

.card-home-reservations {
  margin: 0px;
}

.card-img-rounded-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body-home-pools {
  width: 100%;
}
