<div id="reservations">
  <% reservations.each do |reservation| %>
    <div class="reservation">
      <p>Start Date: <%= reservation.start_date %></p>
      <p>End Date: <%= reservation.end_date %></p>
    <p>
      <%= link_to "Show this reservation", reservation %>
    </p>
  <% end %>
</div>
