<div id="reservations">

  <% reservations.each do |reservation| %>
    <div class="reservation">
      <p>Start Date: <%= reservation.start_date %></p>
      <p>End Date: <%= reservation.end_date %></p>
      <%= link_to "Show this reservation", reservation, class: "btn btn-flat" %>
      </li>
  <% end %>
  </ul>
</div>

<%= link_to "Créer une nouvelle reservation", new_reservation_path, class: "btn btn-flat" %>
