<div id="reservations">
<ul>
  <% @reservations.each do |reservation| %>
 <li>
    <%= render reservation %>
      <%= link_to "Show this reservation", reservation %>
      </li>
  <% end %>
  </ul>
</div>

<%= link_to "Créer une nouvelle reservation", new_reservation_path %>
