<h1>Reservation#edit</h1>


<%= render "form_edit", reservation: @reservation %>

<br>

<div>
<%= link_to "Show this reservation", @reservation, class: "btn btn-flat" %>
  <%= link_to "Back to pools", pools_path, class: "btn btn-flat" %>
  <%= link_to "Back to Home", root_path, class: "btn btn-flat" %>
</div>
