.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  margin: 5px;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-home-create-pool {
  width: 300px;
}

.btn-edit{
  margin-right: 5px !important;
}

.btn-details{
  margin-left: 0px !important;
}

.btn-index{
  margin-top: 5px;
}
